{{ $course := .Page.Params.Course }}
{{ $staff := $course.staff }}
<p>
    <hr/>
        <div id="copyright">
        {{ with $staff }}
            {{ $index := len . }}
            {{ range . }}
                {{ .name.short }}{{ if $index | ne 1 }}, {{ end }}
                {{ $index = add $index -1 }}
            {{ end }}
        {{ else }}
            {{ .Page.Params.author }}
        {{ end }}
        для&nbsp;кафедры Управления и&nbsp;информатики НИУ &laquo;МЭИ&raquo;,
        {{ with $course.meta.year }}{{ . }}{{ else }}{{ .Page.Date.Year }}{{ end }}&nbsp;г.
        </div>

        <span id="buttons">
            <!--LiveInternet counter--><script type="text/javascript"><!--
            document.write('<a href="http://www.liveinternet.ru/click" '+
            'target=_blank><img src="http://counter.yadro.ru/hit?t52.1;r'+
            escape(document.referrer)+((typeof(screen)=='undefined')?'':
            ';s'+screen.width+'*'+screen.height+'*'+(screen.colorDepth?
            screen.colorDepth:screen.pixelDepth))+';u'+escape(document.URL)+
            ';i'+escape('Жж'+document.title.substring(0,80))+';'+Math.random()+
            '" alt="" title="LiveInternet: показано число просмотров и посетителей за 24 часа" '+
            'border=0 width=88 height=31 id="counter"><\/a>')//--></script><!--/LiveInternet-->

            <script type="text/javascript" src="{{ "scripts/orphus.js" | absURL }}"></script>
            <a href="http://orphus.ru" id="orphus" target="_blank"><img alt="Система Orphus" src="{{ "images/orphus.gif" | absURL }}" border="0" width="88" height="31" /></a>
	    </span>
</p>
