{{ with (index .Page.Params.Course.books (.Get 0)) }}
{{ .authors }}
<i>{{ .title }}</i>{{ with .edition }}&nbsp;&mdash; {{ . }}{{ end }}{{ with .publisher }}&nbsp;&mdash; {{ . }}{{ end }}{{ with .pages }}&nbsp;&mdash; {{ . }}{{ end }}
{{ with .translation }}
= {{ .authors }}
<i>{{ .title }}</i>
{{ end }}
{{ end }}
