{{ $course := .Page.Params.Course }}
{{ $groups := $course.Groups }}
{{ $labs := $course.Labs }}
<table>
    <thead>
        <tr>
            <th colspan="{{ len $groups }}">Дата</th>
            <th rowspan="2">Тема</th>
        </tr>
        <tr>
        {{ range $groups }}
            <th>{{ . }}</th>
        {{ end }}
        </tr>
    </thead>
    <tbody>
    {{ range $labs }}
        <tr>
        {{ range .dates }}
            <td>{{ . }}</td>
        {{ else }}
        <td colspan="{{ len $groups }}">{{ .date }}, {{ .time }}, {{ .room }}</td>
        {{ end }}
            <td>
                {{ .topic }}
                {{ .extra | markdownify }}
            </td>
        </tr>
    {{ end }}
    </tbody>
</table>
