{{ $course := .Page.Params.Course }}
{{ $lectures := $course.Lectures }}
<table>
    <thead>
		<tr>
			<th>Неделя</th>
			<th>Дата</th>
			<th>Тема</th>
		</tr>
    </thead>
    <tbody>
    {{ range $lectures }}
        <tr>
            <td>{{ .week }}</td>
            <td>{{ .date }}</td>
            <td>
				<div>
                    {{ .topic }}
                    {{ if .links.pdf }}
                        <a href="{{ .links.pdf }}" class="pdf icon"></a>
                    {{ end }}
                    {{ if .links.gdrive }}
                        <a href="{{ .links.gdrive }}" class="gdrive icon"></a>
                    {{ end }}
                </div>
                {{ .extra | markdownify }}
			</td>
        </tr>
    {{ end }}
    </tbody>
</table>
