{{ with add "https://uii.mpei.ru" .Page.RelPermalink }}
Страница <a href="{{ . }}">{{ . }}</a>&nbsp;&mdash; основная,
{{ end }}
{{ with add "https://uii.bitbucket.io" .Page.RelPermalink }}
<a href="{{ . }}">{{ . }}</a>&nbsp;&mdash; запасная.
{{ end }}
Сохраните в&nbsp;закладки!
