{{ $course := .Page.Params.Course }}
{{ $staff := $course.staff }}
<table>
    <thead>
        <tr>
            <th>Участник</th>
            <th>Роль</th>
            <th>Связь</th>
        </tr>
    </thead>
    <tbody>
    {{ range $staff }}
        <tr>
            <td>{{ .name.full }}</td>
            <td>{{ .role }}</td>
            <td>
            {{ $index := len .contacts }}
            {{ range $option, $address := .contacts }}
                {{ if $option | eq "mail" }}
                <a href="{{ $address }}">почта</a>{{ if $index | ne 1 }}, {{ end }}
                {{ else if $option | eq "tg" }}
                <a href="{{ $address }}">Telegram</a>{{ if $index | ne 1 }}, {{ end }}
                {{ else if $option | eq "vk" }}
                &laquo;<a href="{{ $address }}">Вконтакте</a>&raquo;{{ if $index | ne 1 }}, {{ end }}
                {{ end }}
                {{ $index = add $index -1 }}
            {{ end }}
            </td>
        </tr>
    {{ end }}
    </tbody>
</table>
